<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" th:href="@{/resources/css/include/header.css}">
    <link rel="stylesheet" th:href="@{/resources/css/include/nav.css}">
    <link rel="stylesheet" th:href="@{/resources/css/include/footer.css}">
    <link rel="stylesheet" th:href="@{/resources/css/main/event.css}">
</head>
<body>
<div>
    <div th:replace="fragment/header.html :: header"></div>
    <!-- 네비게이터 영역 -->
    <div th:replace="fragment/nav.html :: nav"></div>
    <main>
    <div id="main_logo">
        <h1>이벤트</h1>
    </div>
    <div id="img_area">
        <img src="/resources/images/이벤트맨끝-1.jpg" alt="">
    </div>
    <div id="main_button">
        <a href="#">목록</a>
    </div>
</main>
    <!-- --------------------푸터---------------------------------- -->
    <div th:replace="fragment/footer.html :: footer"></div>
</div>
<script th:src="@{/resources/js/nav.js}"></script>
</body>
</html>
