<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/resources/images/logo/movie24-favicon.png}">
    <title>Movie24</title>
    <link rel="stylesheet" th:href="@{/resources/css/include/header.css}">
    <link rel="stylesheet" th:href="@{/resources/css/include/nav.css}">
    <link rel="stylesheet" th:href="@{/resources/css/include/footer.css}">
    <link rel="stylesheet" th:href="@{/resources/css/store/payDone.css}">
</head>
<body>
<div>
    <div th:replace="fragment/header.html :: header"></div>
    <!-- 네비게이터 영역 -->
    <div th:replace="fragment/nav.html :: nav"></div>
    <main>
    <div id="main_logo">
        <div class="logo">
            <img src="/resources/images/shopping-cart (1).png" alt="">
            <h1>장바구니</h1>
        </div>
        <img src="/resources/images/right-arrow (2).png" alt="">
        <div class="logo">
            <img src="/resources/images/credit-card.png" alt="">
            <h1>결제하기</h1>
        </div>
        <img src="/resources/images/right-arrow (2).png" alt="">
        <div class="logo">
            <img src="/resources/images/popcorn.png" alt="">
            <h1 id="h11">구매완료</h1>
        </div>
    </div>
        <div id="congret">
            <img src="/resources/images/cinema (1).png" alt="">
        </div>
        <div id="main_text">
            <h1>감사합니다!
                <br>결제가 완료되었습니다.
            </h1>
            <p>마이페이지에서 구매내역을 확인해보세요~</p>
        </div>
        <div id="orderSummary" th:if="${order != null}">
            <h3 th:text="'주문번호 #' + ${order.id}"></h3>
            <ul>
                <li th:each="i : ${orderItems}">
                    <span th:text="${i.itemName} + ' x ' + ${i.quantity}"></span>
                    <span th:text="${#numbers.formatInteger(i.lineTotal, 0, 'COMMA')} + '원'"></span>
                </li>
            </ul>
            <div class="orderTotal">
                <span class="orderTotal-value" th:text="${#numbers.formatInteger(order.totalAmount, 0, 'COMMA')} + '원'"></span>
            </div>
            <div id="pickupCodeBanner" th:if="${order.entryCode != null}">
                <span>매장 수령 코드 (키오스크 입력용)</span>
                <strong th:text="${order.entryCode}">XXXX-XXXX-XXXX-XXXX</strong>
            </div>
        </div>
        <div id="homeBtnGroup">
            <a th:if="${order != null}" th:href="@{/myPage/orders/{id}(id=${order.id})}">주문 상세보기</a>
            <a id="homeBtn" th:href="@{/}">Home</a>
        </div>
</main>
    <!-- --------------------푸터---------------------------------- -->
    <div th:replace="fragment/footer.html :: footer"></div>
</div>
<script th:src="@{/resources/js/nav.js}"></script>
</body>
</html>
