<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/resources/images/logo/movie24-favicon.png}">
    <title>Movie24</title>
    <link rel="stylesheet" th:href="@{/resources/css/include/header.css}">
    <link rel="stylesheet" th:href="@{/resources/css/include/nav.css}">
    <link rel="stylesheet" th:href="@{/resources/css/include/footer.css}">
    <link rel="stylesheet" th:href="@{/resources/css/movieReservation/payDone.css}">
</head>
<body>
<div>
    <div th:replace="fragment/header.html :: header"></div>
    <!-- 네비게이터 영역 -->
    <div th:replace="fragment/nav.html :: nav"></div>
    <main>
        <div id="congret">
            <img src="/resources/images/cinema (1).png" alt="">
            <h1>감사합니다!<br>결제가 완료되었습니다.</h1>
        </div>
        <div id="receiptCard" th:if="${reservation != null}">
            <div class="receiptRow">
                <span class="receiptLabel">영화</span>
                <span class="receiptValue" th:text="${reservation.showtime.movie.title}">영화</span>
            </div>
            <div class="receiptRow">
                <span class="receiptLabel">극장</span>
                <span class="receiptValue" th:text="${reservation.showtime.screen.theater.name} + ' ' + ${reservation.showtime.screen.name}">극장 관</span>
            </div>
            <div class="receiptRow">
                <span class="receiptLabel">일시</span>
                <span class="receiptValue" th:text="${#temporals.format(reservation.showtime.startTime, 'yyyy.MM.dd HH:mm')}">일시</span>
            </div>
            <div class="receiptRow">
                <span class="receiptLabel">좌석</span>
                <span class="receiptValue"><span th:each="label, stat : ${seatLabels}" th:text="${label} + (${stat.last} ? '' : ', ')">A1</span></span>
            </div>
            <div class="receiptRow" th:if="${reservation.gradeDiscountAmount > 0}">
                <span class="receiptLabel">등급 할인</span>
                <span class="receiptValue" th:text="'-' + ${#numbers.formatInteger(reservation.gradeDiscountAmount, 0, 'COMMA')} + '원'">-0원</span>
            </div>
            <div class="receiptRow" th:if="${reservation.usedPoint > 0}">
                <span class="receiptLabel">사용 포인트</span>
                <span class="receiptValue" th:text="'-' + ${#numbers.formatInteger(reservation.usedPoint, 0, 'COMMA')} + 'P'">-0P</span>
            </div>
            <div class="receiptRow receiptTotal">
                <span class="receiptLabel">결제금액</span>
                <span class="receiptValue" th:text="${#numbers.formatInteger(reservation.totalPrice - reservation.gradeDiscountAmount - reservation.usedPoint, 0, 'COMMA')} + '원'">14,000원</span>
            </div>
            <div class="receiptRow" th:if="${reservation.earnedPoint > 0}">
                <span class="receiptLabel">적립 포인트</span>
                <span class="receiptValue" th:text="'+' + ${#numbers.formatInteger(reservation.earnedPoint, 0, 'COMMA')} + 'P'">+0P</span>
            </div>
        </div>
        <p id="guideText">마이페이지에서 구매내역을 확인해보세요~</p>
        <div id="button">
            <a href="/">Home</a>
        </div>
</main>
    <!-- --------------------푸터---------------------------------- -->
    <div th:replace="fragment/footer.html :: footer"></div>
</div>
<script th:src="@{/resources/js/nav.js}"></script>
</body>
</html>
