<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie24</title>
    <link rel="stylesheet" th:href="@{/resources/css/include/header.css}">
    <link rel="stylesheet" th:href="@{/resources/css/include/nav.css}">
    <link rel="stylesheet" th:href="@{/resources/css/include/footer.css}">
    <link rel="stylesheet" th:href="@{/resources/css/movieReservation/time.css}">
</head>
<body>
<div>
    <div th:replace="fragment/header.html :: header"></div>
    <!-- 네비게이터 영역 -->
    <div th:replace="fragment/nav.html :: nav"></div>
    <main>
    <div id="main_select">
        <div id="main_select_left">
            <div id="main_select_left1">
                <a href="#"><img src="/resources/images/영화별grey.png" alt="">영화별</a>
            </div>
            <div id="main_select_left2">
                <a href="#"><img src="/resources/images/극장별.png" alt="">극장별</a>
            </div>
        </div>
        <div id="main_select_right">
            <div id="main_select_right1">
                <span id="span1">상영중</span>
                <span id="span2">상영종료</span>
            </div>
            <div id="main_select_right2">
                <div class="ul"><ul>
                    <li><a href="#">범죄도시3</a></li>
                    <li><a href="#">더 마블즈</a></li>
                    <li><a href="#">인어공주</a></li>
                    <li><a href="#">트랜스포머</a></li>
                    <li><a href="#">슈퍼마리오</a></li>
                    <li><a href="#">신세계</a></li>
                    <li><a href="#">라라랜드</a></li>
                    <li><a href="#">베테랑</a></li>
                    <li><a href="#">리틀 포레스트</a></li>
                    <li><a href="#">닥터 스트레인지</a></li>
                    <li><a href="#">스파이더맨</a></li>
                    <li><a href="#">신데렐라</a></li>
                    <li><a href="#">짱구는 못말려</a></li>
                    <li><a href="#">스즈메의 문단속</a></li>
                    <li><a href="#">너의 이름은</a></li>
                </ul></div>
            </div>
        </div>
    </div>
    <!-------------------- 선택창 밑 메인----------------------------->
    <div id="banner">
        <span id="span_banner">영화이름</span>
        <span>상영시간표</span>
    </div>
    <div id="number">
        <img class="img" src="/resources/images/back.png" alt="">
        <ul>
            <li><a class="sat" href="#">10토</a></li>
            <li><a class="sun" href="#">11일</a></li>
            <li><a href="#">12월</a></li>
            <li><a href="#">13화</a></li>
            <li><a href="#">14수</a></li>
            <li><a href="#">15목</a></li>
            <li><a href="#">16금</a></li>
            <li><a class="sat" href="#">17토</a></li>
            <li><a class="sun" href="#">18일</a></li>
            <li><a href="#">19월</a></li>
            <li><a href="#">20화</a></li>
            <li><a href="#">21수</a></li>
            <li><a href="#">22목</a></li>
        </ul>
        <img class="img" src="/resources/images/next.png" alt="">
        <img class="cal" src="/resources/images/calendar (1).png" alt="">
    </div>
    <div id="country">
        <span id="seoul"><a href="#">서울</a></span>
        <span><a href="#">경기</a></span>
        <span><a href="#">인천</a></span>
        <span><a href="#">대전/충청/세종</a></span>
        <span><a href="#">부산/대구/경상</a></span>
        <span><a href="#">광주/전라</a></span>
        <span><a href="#">강원</a></span>
    </div>
    <div class="country_text">
        <span>강남</span>
    </div>
    <div class="seat">
        <div class="tNum"><h4>1관</h4>총200석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movieReservation/seat">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movieReservation/seat">19:00<br>200석</a></div>
    </div>
    <div class="seat">
        <div class="tNum"><h4>2관</h4>총220석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movieReservation/seat">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movieReservation/seat">19:00<br>200석</a></div>
        <div class="seat_text"><a href="/movieReservation/seat">21:00<br>200석</a></div>
    </div>
    <div class="seat last">
        <div class="tNum"><h4>3관</h4>총210석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movieReservation/seat">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movieReservation/seat">19:00<br>200석</a></div>
        <div class="seat_text"><a href="/movieReservation/seat">21:00<br>200석</a></div>
    </div>
    <div class="country_text">
        <span>종로</span>
    </div>
    <div class="seat">
        <div class="tNum"><h4>1관</h4>총200석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movieReservation/seat">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movieReservation/seat">19:00<br>200석</a></div>
    </div>
    <div class="seat last">
        <div class="tNum"><h4>2관</h4>총220석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movieReservation/seat">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movieReservation/seat">19:00<br>200석</a></div>
        <div class="seat_text"><a href="/movieReservation/seat">19:00<br>200석</a></div>
    </div>
    <div class="country_text">
        <span>강동</span>
    </div>
    <div class="seat">
        <div class="tNum"><h4>1관</h4>총200석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movieReservation/seat">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movieReservation/seat">19:00<br>200석</a></div>
    </div>
    <div class="seat last">
        <div class="tNum"><h4>2관</h4>총220석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movieReservation/seat">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movieReservation/seat">19:00<br>200석</a></div>
        <div class="seat_text"><a href="/movieReservation/seat">19:00<br>200석</a></div>
    </div>
        <!-- <div id="main_button">
            <a href="#">다음 단계</a>
        </div> -->
</main>
    <!-- --------------------푸터---------------------------------- -->
    <div th:replace="fragment/footer.html :: footer"></div>
</div>
<script th:src="@{/resources/js/nav.js}"></script>
</body>
</html>
